// google colors
// $z-switch-off    : #EA4335
// $z-switch-on     : #34A853

// mac colors
$z-switch-off    : #FF6059 
$z-switch-on     : #2ACB41

$z-switch-slider : #ddd
$z-switch-text   : #eee


.z-switch
    *, *:before, *:after
        margin: 0
        padding: 0
        box-sizing: border-box
        font-family: sans-serif
    
    &.z-switch-sm
        font-size: .75em
    &.z-switch-lg
        font-size: 1.5em

    &:hover
        cursor: pointer
    
    .z-switch--container
        position: relative
        top: .1em
        display: inline-block
        width: 2.5em
        height: 1em
        border-radius: 1em
        // box-shadow: 0 0 .2em 0 rgba(black, .8) inset
        margin-right: .2em
        background-color: $z-switch-off
        overflow: hidden
        transition: .2s background-color


        .z-switch--slider
            position: absolute
            top: .05em
            left: .05em
            width: .9em
            height: .9em
            border-radius: 1em
            background-color: $z-switch-slider
            box-shadow: 0 0 0.3em rgba(white, .7) inset, 0 0 .3em 0 rgba(black, .5)
            transform: translateX(0)
            transition: .2s transform
            &:before, &:after
                content: attr(data-on)
                color: $z-switch-text
                display: block
                position: absolute
                top: .15em
                font-size: .6em
                width: 2.8em
                left: -2.7em
                text-align: center
                text-shadow: 1px 1px 1px black
            &:after
                content: attr(data-off) 
                left: 1.2em

    input[type=checkbox]
        display: none

        &:checked + .z-switch--container
            background-color: $z-switch-on

            .z-switch--slider
                transform: translateX(1.55em)

        
            
            
            
