$z-switch-off    : #d22
$z-switch-on     : #2d2
$z-switch-slider : #ddd
$z-switch-text   : #eee


.z-switch
    *, *:before, *:after
        margin: 0
        padding: 0
        box-sizing: border-box
        font-family: sans-serif

    &:hover
        cursor: pointer
    
    .z-switch--container
        position: relative
        top: .2em
        display: inline-block
        width: 2.75em
        height: 1em
        border-radius: 1em
        box-shadow: 0 0 .2em 0 rgba(black, .8) inset
        margin-right: .2em
        background-color: $z-switch-off
        overflow: hidden
        transition: .2s background-color


        .z-switch--slider
            position: absolute
            top: .08em
            left: .1em
            width: .8em
            height: .8em
            border-radius: 1em
            background-color: $z-switch-slider
            box-shadow: 0 0 0.2em rgba(white, .8) inset
            transform: translateX(0)
            transition: .2s transform
            &:before, &:after
                content: attr(data-on)
                color: $z-switch-text
                display: block
                position: absolute
                top: .15em
                font-size: .6em
                width: 3em
                left: -3em
                text-align: center
                text-shadow: 1px 1px 1px black
            &:after
                content: attr(data-off) 
                left: 1.2em

    input[type=checkbox]
        display: none

        &:checked + .z-switch--container
            background-color: $z-switch-on

            .z-switch--slider
                transform: translateX(1.75em)

        
            
            
            
